/* css for quiz. * applies to everything */

* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.quiz {
	margin: 50px auto 0 auto;
	max-width: 400px;
}

.scores {
	margin: 50px auto 0 auto;
	max-width: 400px;
}

h1 {
    font-size:xx-large;
    color: #8b18dd;
}
 
/* went with a fun blue and purple theme throughout
 and did a fancy little border */

.containerNew {
	border: 5px solid;
    border-color: #8b18dd;
    border-style: double;
    border-inline-color: #50e0d4;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 700px;
	width: 60%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

/* the css for all the buttons */

button {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	color: #50e0d4;
	background-color: #a373da;
	border-radius: 10px;
	border: 0;
	padding: 20px;
}

button:hover {
	background-color: #41128d;
}

p {
	margin: 15px 15px;
    color: rgb(8, 127, 163);
}
 
/* the initial page */

.landing {
	text-align: center;
}

.scoresHeader {
	position: absolute;
	top: 15px;
	left: 15px;
}

.timer {
	position: absolute;
	top: 15px;
	right: 15px;
}

.options button {
	display: block;
}

input[type="text"] {
	font-size: 100%;
}

.hide {
	display: none;
}

.feedback {
	font-style: bold;
	font-size: 120%;
	margin-top: 20px;
	padding-top: 15px;
	color: #fff;
	border-top: 2px solid #4B0082;
}

ol {
	padding-left: 15px;
	max-height: 600px;
	overflow: auto;
}

li {
	padding: 10px;
	list-style: decimal;
	color: blue;
}

li:nth-child(odd) {
	background-color: #dfdae7;
}

@media screen and (max-width: 768px) {
	.containerNew {
		width: 80%;
	}
}

@media screen and (max-width: 575px) {
	.containerNew {
		width: 90%;
	}

	.quiz,
	.scores {
		max-width: 90%;
	}
}
